@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: black;
    will-change: opacity;
    opacity: 0;
    animation: fadeOut 0.45s ease-out forwards;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    scroll-snap-align: start;
    overflow: hidden;
}

.hero-content {
    mix-blend-mode: difference;
    text-align: center;
    z-index: 10;
}

.hero2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.title-content, .description-content {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
}

.hero2-content p {
    color: white;
    font-size: 3vh;
}

.read-more-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #555;
}

.hero3-content {
    width: 93%;
    margin: 0 auto;
    text-align: center;
}

.centered-title {
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
    height: 24%;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    height: 60%;
    width: 100%;
}

.image-block {
    align-items: flex-end;
    width: 30%;
    padding-top: 34%;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.text-container {
    font-size: 2vw;
    position: absolute;
    bottom: 0;            
    left: 0;              
    width: 90%;          
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.carrot-btn {
    font-size: 10vw;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: gold;
    transition: color 0.3s ease;
    margin-top: 5px; 
}

.carrot-btn:hover {
    color: #555;
}

.hero4-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50%;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    color: white;
    transition: transform 0.3s ease;
    text-align: center;
}

.circle h1 {
    font-size: 6.6em;
    color: gold;
    margin-bottom: 5px;
}

.circle p {
    font-size: 1.6em;
}

.circle:hover {
    transform: scale(1.5);
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 100%; 
}

.bio p {
    font-size: 2vw;
    width: 60%;
}

.circle2 {
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-bottom: 1em;/
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: start;
}

.image-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.image-group img {
    width: 25%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    object-fit: cover;
    border: none;
    margin: 0;
    padding: 0;
}

.image-group img:hover {
    filter: grayscale(0%);
}

.contact-us {
    background-image: linear-gradient(45deg, #111, black);
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.contact-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,0.03) 25px, rgba(255,255,255,0.03) 50px);
    opacity: 0.1;
    pointer-events: none;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-content h1 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    margin-top: 0;
}

.contact-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 20px 0;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.6);
}

.contact-button {
    padding: 12px 25px;
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.contact-button:hover {
    background-color: #555;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-group input {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .contact-content h1 {
        font-size: 2.2rem;
    }
    
    .contact-content p {
        font-size: 1.1rem;
    }

    .contact-button {
        padding: 10px 20px;
    }
}

h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 15vw;
    color: #FFF; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    color: #FFF;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.5vw;
    color: gold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

@media (max-width: 768px) {

    .hero {
        align-items: center;
    }
    
    .hero2-content {
        flex-direction: column;
        text-align: center;
    }

    .title-content, .description-content {
        text-align: center;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }

    .hero2-content p {
        font-size: 2.5vh;
    }

    .read-more-btn {
        font-size: 2vh;
    }

    h3 {
        font-size: 5vh;
    }
}