body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Choose your preferred font */
    height: 100%;
    overflow-x: hidden;
}

.hero {
    background-image: url('../images/mountain_background.png'); /* Adjust path to your hero image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* This ensures the hero section covers the entire viewport height */
    width: 100vw; /* This ensures the hero section covers the entire viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Adjust color as needed */
}

.hero-content {
    mix-blend-mode: difference;
    text-align: center;
    z-index: 10;
}

.hero-content p {
    font-size: 6vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 15vw; /* Adjust the value as per your design needs */
    color: #FFF; /* Initial color, will be changed with blend mode */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 10vw;
    color: #FFF;
}

.main-content {
    padding: 50px;
}

.experiences {
    display: flex;
    justify-content: space-between;
}

.adventures {
    padding: 50px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.testimonial {
    background-color: #eee;
    padding: 20px;
}

.contact {
    padding: 50px;
    background-color: #222;
    color: #FFF;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

#image-track-container {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
}

#image-track {
    display: flex;
    gap: 4vmin;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
}
